@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #FFFFFF;
    --primary-color: #264065;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-size: 18px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

button, a {
    font-size: 18px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

button {
    border: none;
    outline: none;
    font-weight: 400;
}

ul {
    list-style: none;
}

.container {
  max-width: 1450px;
  margin-inline: auto;
}

/* --- Header --- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    z-index: 105;
    position: relative;
}

.logo {
    width: 212px;
    height: 54px;
}

.nav-links ul {
    display: flex;
    gap: 1rem;
}

.nav-links ul li a {
    color: var(--primary-color);
}

.more {
    display: flex;
    align-items: center;
}

.nav-actions {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-icons {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-buttons {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-actions img {
    width: 32px;
    height: 32px;
}

.btn-singin {
    background-color: transparent;
    text-decoration: underline;
    color: var(--primary-color);
}

.btn-signup {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    color: var(--bg-color);
    border-radius: 32px;
    transition: background-color .25s ease;
}

.btn-signup:hover,
.hero__btn.book:hover {
    background-color: #3A5F8A;
}

/* --- Hero principal --- */
.hero {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 650px;
}

.hero__background {
    position: absolute;
    z-index: -100;
    right: 0;
    top: -6.5rem;
    width: 800px;
}

.hero-woman {
    position: absolute;
    z-index: 101;
    bottom: 0;
    right: 0;
}

.testimonial {
    position: absolute;
    z-index: 101;
    background: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    gap: 16px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.testimonial p {
    color: #070D15;
}

.testimonial strong {
    color: var(--primary-color);
}

.testimonial--one {
    right:  4rem;
    bottom: 26rem;
}

.testimonial--two {
    bottom: 7rem;
    right: 12rem;
}

.hero__icon {
    position: absolute;
    z-index: 100;
    right: 14rem;
    top: 3rem;
}

.hero__title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 64px;
}

.hero__subtitle {
    color: #909090;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

.hero__actions {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.hero__btn.book {
    background-color: var(--primary-color);
    padding: 1rem 2.2rem;
    color: var(--bg-color);
    border-radius: 32px;
    transition: background-color .25s ease-in-out;
}

.hero__btn.watch {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    transition: color .25s ease-in-out;
}

.hero__btn.watch:hover {
    color: #3A5F8A;
}

.hero__btn.watch img {
    width: 24px;
    height: 24px;
}

.hero__list {
    margin-top: 4rem;
    display: flex;
    gap: 14px;
    align-items: center;
}

.hero__icon-container {
    background-color: #A9D6CB;
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.hero__item {
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.hero__item h3 {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 500;
}

.hero__item p {
    font-size: 18px;
    font-weight: 500;
    color: #909090;
    max-width: 150px;
    text-align: center;
}


/* --- Media Queries --- */
@media (min-width:1024px) {
    .container {
        max-width: 1120px;
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1450px;
        margin-inline: auto; 
    }
}